<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div>
        <table>
            <tr>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Email</td>
            </tr>
            <tr>
                <td></td>bin/ obj/ notas.txt .gitignore 
                <td></td>git init git status git add. 
                <td></td>git config --global user.email ""
                <td></td>git config --global user.name ""
                        git commit -m ""
                        
            </tr>
        </table>
    </div>
</body>
</html>